@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
/*    font-family: 'Open Sans', sans-serif;*/
    font-family: 'Rajdhani', sans-serif;
    background: #E8E8E8;
    display: grid;
    grid-template-areas: 
        ". header header header header header nav nav nav nav nav ."
        ". main main main main main main aside aside aside aside ."
        ". park-map park-map park-map park-map park-map facilities facilities facilities facilities facilities ."
        ". park-hours park-hours park-hours park-hours park-hours park-location park-location park-location park-location park-location ."
        ". footer footer footer footer footer footer footer footer footer footer ."
        ". copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright .";    
    grid-template-columns: 5em, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 5em;
    grid-row: auto;
    
}

header {
    grid-area: header;
    background: #08415C;
/*    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    color: #ffffff;
/*
    max-height: 2em;
    padding-top: 1em;
*/
    text-align: center;
    position:fixed;
    height:7%;
/*    margin:0px;*/
/*    padding:10px 0px 0px 0px;*/
    z-index:5;
    
}

header img {
    width: 100%;
    height: 95%;
    text-align: left;
    margin-left: 2em;
}

nav {
    grid-area: nav;
    background: #08415C;
    max-height: 3em;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.10);
    color: #ffffff;
    text-align: right;
    padding-top: 0.8em;
    margin-right: 6em;
    
    
    position:fixed;
    width:100%;
    padding-bottom: 1.7em;
    z-index: 4;
    
}

nav a {
    color: #ffffff;
    text-decoration-line: none;
    text-align: right;
    padding-left: 2em;
    padding-right: 2em;
    
}

#main-button {
    background: #CC2936;
    padding: 0.5em;
    border-radius: 8px;
}

main {
    grid-area: main;
    padding-left: 4em;
}

main img {
    width: 100%;
    height: 800px;
    z-index: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main h2 {
    z-index: 1;
    position: absolute;
    top: 12em;
    left: 3em;
    color: #fff;
}

main h5 {
    z-index: 1;
    position: absolute;
    top: 30em;
    left: 5.5em;
    color: #fff;
}

main p {
    z-index: 1;
    position: absolute;
    top: 33em;
    left: 7em;
    color: #fff;
}

aside {
    grid-area: aside;
    text-align: center;
    background: rgba(232, 232, 232, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 4em;
    margin-top: 2em;
        
}

.rides {
    align-self: center;
    justify-self: center;
}
.rides h3 {
    z-index: 1;
    margin-top: 6em;
    margin-left: 8em;
    position: absolute;
    text-align: center;
    color: #fff;
    
}

.rides p {
    text-align: center;
    position: relative;
    margin-top: 1em;
    padding-left: 0.5em;
    
}

.tickets h3 {
    margin-top: 3em;
    position: relative;
    text-align: center;
    display: block;
    
}

.tickets p {
    text-align: center;
    position: relative;
    margin-top: 1em;
    padding-left: 0.5em;
    
}

.tickets table {
    margin-left:auto; 
    margin-right:auto;
}

.rides img {
    z-index: 0;
    height: 100%;
    max-width: 100%;
}

.rides button {
    z-index: 2;
    position: relative;
    background: #CC2936;
    padding: 0.8em;
    border-radius: 8px;
    color: #FFF;
    font-family: 'Rajdhani', sans-serif;
    box-shadow: none; 
}

th, td {
  border: 1px solid #388697;
}
thead {
    background: #388697;
    color: #fff;
    text-align: center;
}

tbody {
    font-family:'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 1em;
    

}
.park-map {
    grid-area: park-map;
    padding-left: 4em;
}

.park-map img {
    width: 100%;
    height: 600px;
    z-index: 0;
}

.park-map h3 {
    z-index: 1;
    position: absolute;
    top: 35em;
    left: 4em;
    color: #fff;
    
}

.park-map h5 {
    z-index: 1;
    position: absolute;
    top: 55em;
    left: 6em;
    color: #fff;
    
}
.park-map button {
    z-index: 2;
    position: relative;
    background: #B5FFE1;
    padding: 0.8em;
    border-radius: 8px;
    color: #333;
    font-family: 'Rajdhani', sans-serif;
    box-shadow: none; 
    border-color: #B5FFE1;
}

.facilities {
    grid-area: facilities;
    background: #388697;
    text-align: center;
    margin-right: 4em;

}

.facilities img {
    z-index: 0;

}

.facilities h3 {
    text-align: center;
}

.facilities h5 {
    text-align: center;
}

.facilities table {
    margin-left:auto; 
    margin-right:auto;
}
.facilities th, td {
  border: 1px solid #fff;
}
.facilities thead {
    background: #fff;
    color: #388697;
    text-align: center;
}

.facilities tbody {
    font-family:'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 1em;
    color: #fff;    
}

.facilities ul {
    text-align: center;
}

.facilities button {
    z-index: 2;
    position: relative;
    background: #CC2936;
    padding: 0.8em;
    border-radius: 8px;
    color: #FFF;
    font-family: 'Rajdhani', sans-serif;
    box-shadow: none; 
}
.park-hours {
    grid-area: park-hours;
    padding-left: 4em;
}

.park-hours button {
    z-index: 2;
    position: relative;
    background: #CC2936;
    padding: 0.8em;
    border-radius: 8px;
    color: #FFF;
    font-family: 'Rajdhani', sans-serif;
    box-shadow: none; 
}

.park-location button {
    z-index: 2;
    position: relative;
    background: #CC2936;
    padding: 0.8em;
    border-radius: 8px;
    color: #FFF;
    font-family: 'Rajdhani', sans-serif;
    box-shadow: none; 
}

.park-location {
    grid-area: park-location;
    padding-right: 4em;
}


/*
.park-info {
    grid-area: park-info;
}

.park-info h3 {
    float: left;
}
.park-info table {
    float: left;
}
.park-info iframe {
    float: left;
}

.park-info p {
    float: left;
}
*/

footer {
    grid-area: footer;
    background: #08415C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    min-height: 10em; 
    text-align: center;
    
}

.copyright {
    grid-area: copyright;
    background: #C0C0C0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #333333;
    min-height: 2em;
    text-align: center;
}

.footer-menu {
    text-decoration: none;
    text-align: center;
    box-shadow: none;
}

.footer-logo {
    width: 15%;
    height: 15%;
    padding: 0.5em;
}

footer address {
    color: #fff;
    text-align: center;  
}

footer address a {
    color: #fff;
}

footer h5 {
    color: #fff;
    text-align: center;
    
}


h1 {
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 61px;
    text-align: left;
    color: #333333;
}

h2 {
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    text-align: left;
    color: #333333;
}

h3 {
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    text-align: left;
    color: #333333;
}

h4 {
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    text-align: left;
    color: #333333;
}

h5 {
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    color: #333333;
}

h6 {
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #333333;
}

p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #333333;
}

a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    text-decoration-line: underline;  
    color: #333333;
}

a:hover {
    color: #B5FFE1;
}

a:active {
    color: #B5FFE1;
    text-decoration-line: none;
}

/* index.html specific styling */

.mainPanel{
    display:flex;
    flex-direction:column;
    width:100%;
    margin:0em;
    padding:0em;  
    
}
.mainPanel ul{
    text-align: center;
}
.mainPanel ul li{

    display:inline;
    list-style-type: none;
    margin:auto 75px auto auto;   
}
.mainPanel img:first-of-type{
    position:relative;
    left:0px;
    border-style:groove;
    z-index: 1;
}

.asidesPanel{
    position:relative;
    display:flex;
    flex-direction:column;
    max-width:25em;
    margin:0em 0em 0em 2em;
    right:0px;
}

.asidesPanel img{
    width:100%;
    border-radius: 5px;
  
}
.safetyAside, .shopAside, .mapAside, .foodAside{
    margin:0px;
}
#leftArrow{
    position:absolute;
    width:2%;
    top:250px;
    align-self:flex-start;
    z-index: 2;
}
#rightArrow{
    position:absolute;
    width:2%;
    top:250px;
    align-self:flex-end;
    z-index: 2;

}
#displayProgress{
   
    position:absolute;
    top:-3em;
    align-self: center;
    height:5%;
    width:25%;
    padding:0px;
    margin:auto;
    border:0px;
    z-index: 2;
}

/* End index.html */